  
@font-face {
    font-family: 'montserrat-regular';
    src: url('fonts/Montserrat-Regular.woff2') format('woff2'),
         url('fonts/Montserrat-Regular.woff') format('woff');
    font-style: normal;

}
