body {
    font-family: 'montserrat-regular' ,serif;
}

/*шапка*/

.header {
    height: 51px;
    min-width: 377px;
    max-width: 1340px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    margin: 34px auto;
}

.header__image {
    margin: auto;
    visibility: visible;
}

.menu__link {
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-size: 15px;
    text-decoration: none;
    color: #000000;
    margin: 0 0 0 4%;
}

.menu__link-models {
    border-bottom: 3px solid black;
    border-color: #E51937;
    border-radius: 4px;
    color: #E51937;
    text-decoration: none;
}

.menu__link-side {
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-size: 15px;
    color: #000000;
    margin: 10px 10px auto;
    text-decoration: none;
}

.menu__link-side-mobil {
	display: none;
}

.header__menu {
    flex: 1;
    text-align: center;
}

.header__menu-side {
    text-align: center;
}

.menu__image {
    margin-top: 20%;
    margin-left: 50%;
}

@media screen and (max-width: 961px) {
    .header {
        width: 100%;
    }

    .menu__link-side {
        display: none;
    }

    .menu__link-side-mobile {
        display: inline;
        margin-right: 5%
    }

    .header__menu {
        visibility: hidden;
    }
}

/*первая секция*/

.section-first {
    min-width: 376px;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    margin: 3% auto;
    font-style: normal;
    line-height: normal;
}

.section-first__header {
    text-align: center;
    font-weight: 600;
    line-height: normal;
    font-size: 90px;
    color: #000000;
    margin: -5px auto -1%;
}

.section-first__subheader {
    font-style: normal;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    margin: 1 auto;
}

.section-first__teslaimg {
    margin: -9% auto 1px;
    max-width: 100%;
}

.specifications {
    display: flex;
    padding: 5% 0;
    min-width: 620px;
    max-width: 100%;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.specifications__speed {
    width: 230px;
}

.specifications-speed__img {
    width: 46px;
    height: 35px;
    float: left;
    margin: 10px 5px 0 0;
}

.specifications__number {
    font-weight: 900;
    font-size: 35px;
    margin: 2px 0 0;
}

.specifications__measure {
    font-weight: 900;
    font-size: 20px;
}

.specifications__road {
    width: 230px;
}

.specifications-road__img {
    width: 30px;
    height: 50px;
    float: left;
    margin: 10px 0 0 0;
}

.specifications-test__wheel {
    width: 22px;
    height: 22px;
    float: left;
    margin: 10px -30px 0 0;
}

.specifications__description {
    padding-left: 15%;
    font-weight: normal;
    font-size: 13px;
}

.specifications__test {
    padding: 13px 0 0 0;
    width: 160px;
}

.specifications-test__button {
    background-color: white;
    color: #E51937;
    border: 2px solid #E51937;
    width: 160px;
    height: 40px;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
}

.specifications-test__button-border{
    width: 160px;
    padding: 13px 0 0 0;
}

.specifications__test-drive {
    width: 160px;
    height: 40px;
    font-weight: bold;
    font-size: 13px;
    background: transparent no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
    cursor: pointer;
}

.specifications-test__button:hover {
    background-color: #E51937;
    color: white;
}

.specifications__test:hover button {
    color: #E51937;
}

.specifications__test:hover .specifications-test__wheel {
    content: url(images/steering-wheel-red.png);
}

.specifications__line {
    display: flex;
    justify-content: space-around;
}

.vector {
    width: 28px;
    height: 14px;
    margin: -2% auto auto;

}


@media screen and (max-width: 961px) {
    .section-first__header {
        line-height: 110px;
        font-size: 61px;
    }

    .section-first__subheader {
        line-height: 10px;
        font-size: 12px;
        margin: auto;
    }

    .section-first__teslaimg {
    margin: 0 auto 1px;
    }

    .specifications {
        display: flex;
        margin: auto;
        padding: 5% 0;
        min-width: 280px;
        max-width: 55%;
        justify-content: space-around;
        align-content: center;
        flex-wrap: wrap;
    }

    .specifications__speed {
        width: 160px;
    }

    .specifications-speed__img {
        width: 46px;
        height: 35px;
        float: left;
        margin: 8px 6px 0 -5px;
    }

    .srecification__number {
        font-size: 27px;
    }

    .specifications__measure {
        font-size: 15px;
    }

    .specifications__road {
        width: 140px;
    }

    .specifications-road__img {
        width: 25px;
        height: 41px;
        margin: 10px 5px 0 -5px;
    }

    .specifications-test__wheel {
        width: 22px;
        height: 22px;
        float: left;
        margin: 7px -30px 0 7px;
    }

    .specifications__description {
        padding-left: 15%;
        font-weight: normal;
        font-size: 10px;
    }

    .specifications__test {
        margin-left: 0;
    }

    .specifications-test__button-border {
        width: 175px;
        margin-left: 0;
    }

    .specifications__line {
        display: flex;
        justify-content: space-around;
        align-content: center;
        margin: auto;
    }

    .specifications-test__button {
        background-color: #E51937;
        color: white;
    }

    .specifications-test__wheel {
        content: url(images/steering-wheel-red.png);
    }  
    
    .specifications__test-drive {
        color: #E51937;
    }  

}

/*вторая секция*/

.section-twice {
    min-width: 376px;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    margin: -4px auto;
    font-style: normal;
    line-height: normal;
    overflow: hidden;
}

.section-twice__header-cockpit {
    position: relative;
    max-width: 500px;
    width: 10%;
    padding-top: 17px;
}

.section-twice__header {
    position: absolute;
    margin-left: 4%;
    font-weight: 600;
    font-size: 70px;
    color: #E51937
}

.section-twice__img {
    margin-top: 8%;
    max-width: 95%;
}

.section-twice__description {
    margin-left: -100%;
    width: 380px;
    max-height: 853px;
    background-color: #E51937;
    padding-left: 52px;
    padding-top: 51px;
}

.section-secondary__second-header {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 11px;
    margin-top: 0px;
    color: #ffffff;
}

.section-secondary__description {
    width: 316px;
    margin-bottom: 60px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;
}

.section-twice__function {
    margin: 10% 0;
    width: 230px;
    height: 70px;
}

.function__screen {
    width: 36px;
    height: 53px;
    float: left;
    margin: 10px 5px 0 0;
}

.function__update {
    width: 44px;
    height: 34px;
    float: left;
    margin: 20px 5px 0 -2px;
}

.function__bag {
    width: 36px;
    height: 52px;
    float: left;
    margin: 10px 5px 0 0;
}

.function__number {
    font-weight: 600;
    font-size: 35px;
    line-height: 42px;
    color: #ffffff;
}

.function-header {
    font-weight: 600;
    font-size: 20px;
    line-height: 19px;
    margin-left: 25%;
    color: #ffffff;
}

.function-subheader {
    margin-top: -1%;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
}

.description__more {
    padding: -30px 0 0 0;
    width: 180px;
}

.description__more-info {
    width: 130px;
    height: 40px;
    font-weight: bold;
    font-size: 13px;
    background: transparent no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    color: #ffffff;
}

.description-more__icon {
    width: 22px;
    height: 22px;
    float: left;
    margin-top: 8px;
    cursor: pointer;
}

.description__button {
    background-color: #E51937;
    color: white;
    border: 2px solid white;
    width: 160px;
    height: 40px;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
}

.description__button:hover {
    background-color: white;
    color: #E51937;
    border: 2px solid #E51937;
    width: 160px;
    height: 40px;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
}

.description-test__button-border{
    width: 160px;
}

.description__buttons {
    margin-top: 40%;
    width: 340px;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 961px) {
    .section-twice {
        display: inline-block;
    }

    .section-twice__header {
        text-align: right;
        right: 7%;
        margin-top: 10%;
        width: 290px;
    }

    .section-twice__description {
        margin-left: 0;
        width: 100%;
        height: 450px;
        background-color: #E51937;
        padding: 55px 35px 0;
        margin-top: -5px;
        display: grid;
        grid-template-areas: 
        "desc list"
        "order order";
        grid-template-columns: 45% 45%;
    }

    .section-twice__img {
        max-width: 100%;
    }

   .section-secondary__second-header {
        height: 50px;
        width: 350px
    }

    .section-twice__list {
        margin: -5% auto;
        width: 180px;
        }

    .section-secondary__description {
        width: 280px;
    }

    .description__buttons {
        grid-area: order;
        margin: auto;
    }

}

@media screen and (max-width: 600px) {
    .section-twice {
        display: inline-block;
    }

    .section-twice__header {
        display: none;
    }

    .section-twice__description {
        margin-left: 0;
        width: 100%;
        height: 10%;
        background-color: #E51937;
        padding: 18px 29px 0;
        margin-top: -5px;
        display: inline-block;
    }

    .section-twice__img {
        max-width: 100%;
    }

   .section-secondary__second-header {
        height: 40px;
        width: 306px;
    }

    .section-twice__list {
        display: none;
    }

    .section-secondary__description {
        width: 80%;
    }

    .description__buttons {
        display: none;    }
}

/*третья секция*/

.section-last {
    color: #ffffff;
    min-width: 376px;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    font-style: normal;
    line-height: normal;
    overflow: hidden;
}

.section-last__description {
    margin-right: -2%;
    width: 380px;
    max-height: 1000px;
    background-color: #E51937;
    padding-left: 52px;
    padding-top: 51px;
    position: relative;
}

.car-frame {
    width: 100%;
    background: url(images/tesla-exterior-bg.png) no-repeat right top;
    background-size: 72%;
    margin-left: -74px;
    margin-top: 116px;
    padding-top: 25px;
}

.frame-background {
    position: relative;
    max-width: 100%;
    padding-top: 17px;
}

.section-last__buttons {
    margin-right: 30px;
    margin-bottom: 10%;
    width: 340px;
    display: flex;
    justify-content: space-between;
}

.section-list__header {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
}

.safety-item {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 14px;
    line-height:15px;
}


.safety-subitem {
    font-weight: bold;
    font-size: 9px;
    line-height: 18px;
    margin-left: -15%;
}

.safety {
    display: flex;
    height: 150px;
    margin: auto;
}

.safety__rating {
    font-weight: 600;
    font-size: 50px;
    line-height: 30px;
}

.safety-small {
    font-size: 25px;
    line-height: 30px;
}

.safety__icon {
    margin-right: 5%;
    margin-top: 9%;
    width: 62px;
    height: 74px;
}

.star {
    right: 50px;
    margin-right: 25%;
    display: inline-block;
    width: 124px;
    height: 22px;
    background: url(images/Star.png);
}

.section-last__second-header {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 11px;
    margin-top: 0px;
    color: #ffffff;
}

.car-frame__mobile {
    display: none;
    width: 100%;
    background: url(images/tesla-exterior-bg.png) no-repeat right top;
    background-size: 72%;
    margin-top: 116px;
    padding-top: 25px;
}

@media screen and (max-width: 961px) {
    .section-last {
        display: inline-block;
    }

    .section-last__description {
        margin-left: 0;
        width: 100%;
        height: 450px;
        background-color: #E51937;
        padding: 55px 35px 0;
        margin-top: -5px;
        display: grid;
        grid-template-areas: 
        "desc list"
        "order order";
        grid-template-columns: 45% 45%;
    }

    .car-frame {
        display: none;
    }

    .car-frame__mobile {
        display: inline-block;
    }

   .section-last__second-header {
        min-height: 80px;
        max-width: 350px
    }

    .safety-list {
        margin: -5% 0 ;
        width: 370px;
        margin-right: -80%
        }

    .section-secondary__description {
        max-width: 270px;
    }

    .section-last__buttons {
        grid-area: order;
        margin: auto;
    }

    .safety {
        display: none;
    }

    .safety-subitem {
        margin-left: -12%;
    }

}

@media screen and (max-width: 600px) {
    .section-last {
        display: inline-block;
    }

    .section-last__description {
        margin-left: 0;
        width: 100%;
        height: 10%;
        background-color: #E51937;
        padding: 18px 29px 0;
        margin-top: -5px;
        display: inline-block;
    }

    .section-twice__img {
        max-width: 100%;
    }

   .section-last__second-header {
        height: 40px;
        width: 320px;
    }

    .safety-list {
        display: none;
    }

    .section-secondary__description {
        width: 80%;
    }

    .section-last__buttons {
        display: none;    }
}
